<h1>Create user</h1>
<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="_method" value="POST" >
  <input name="authenticity_token" type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="users_user_name">User Name</label>
  <input type="text" name="user[user_name]" id="user_user_name">

<br>

  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">

<br>

  <label for="user_confirm_password">Confirm Password</label>
  <input type="password" name="user[confirm_password]" id="user_confirm_password">

<br>

  <input type="submit" value="Create User">
</form>