<html>
<h1>Create A New Cat!</h1>
<form action="<%= cats_url %>" method="POST">
<input type="hidden" name="_method" value="POST">
<label for="cat_name">Cat Name</label>
<input type="text" name="cat[name]" id="cat_name">
<br>
<span>Sex: </span>
<label for="cat_sex_m">Male</label>
  <input type="radio" name="cat[sex]" value="M" id="cat_sex_m">
<label for="cat_sex_f">Female</label>
  <input type="radio" name="cat[sex]" value="F" id="cat_sex_f">
<label for="cat_sex_?">Other</label>
  <input type="radio" name="cat[sex]" value="?" id="cat_sex_?">
<br>
<label for="cat_color">Color</label>
<select name="cat[color]" id="cat_color">
  <option value="black">Black</option>
  <option value="white">White</option>
  <option value="maroon">Maroon</option>
  <option value="fuschia">Fuschia</option>
  <option value="turquoise">Turquoise</option>
  <option value="orange">Orange</option>
</select>
<br>
<label for="cat_birth_date">Date Of Birth</label>
<input type="date" name="cat[birth_date]" id="cat_birth_date">
<br>
<label for="cat_description">Description</label>
<br>
<textarea name="cat[description]" id="cat_description" ></textarea>
<br>
<input type="submit" value="Create A Cat" >

</form>
</html>